header {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 25px;
}
.header_logo {
    height: 30px;
}

header a {
    margin-right: 25px;
}