@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800&display=swap");

@import "./header.css";

@import "./sections.css";

@import "./footer.css";

body {
    font-family: 'Raleway', sans-serif;
    color: #213053;
    font-size: 18px;
    margin: 0;
}

h1, h2,h3, h4, h5 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #213053;
}  

a:hover {
    /*box-shadow: 0 5px 100px #547ddd;*/
} 

button {
    font-family: 'Raleway', sans—serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #23a030;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding: 15px;
    box-shadow: 0 16px 36px rgb(52 213 68 / 22%);
}  

button:hover {
    background-color: #f5af18fa;
    box-shadow: none;
    transition: background-color 0.5s ease-in;
    color: black;
} 