.about {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: url('img/back.png') no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0 115px;
    width: 100%;
}

.image_sun {
    height: 100px;
    width: 100px;
    margin-bottom: 60%;
}

.image_solar_panel {
    height: 500px;
    width: 500px;
}
.form {
    background-color: #1D263A;
    color: #fff;
    padding: 15px 0px;
    text-align:center;
    padding: 115px 20px;
    width: 100%;
}

form {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
}
.order_forms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 15px 0px;
    text-align:left;
    height: 25px;
    width: 300px;
}

select {
    appearance: none;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0px;
}

input {
    outline: none;
    padding: 5px 10px;
    border-radius: 15px;
}

.form_button {
    margin-top: 30px;
    }